.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    
}
.hotel{
    width: 300px;
    height: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin: 20px;
}
.hotel div{
    width: 250px;
}
.hotel img{
    width: 250px;
    height: 180px;
}
.hotel div h1{
    font-family: monospace;
    font-weight: 700;
}
.hotel div p{
    width: 250px;
    overflow: hidden;
    border:none;
    font-size: 18px;
    font-weight: 500;
    font-family:serif;
}
button{
    background-color: orangered;
    color: white;
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.add{
    text-align: center;
    margin: 20px;
}
.add a{
    
    padding: 10px;
    background-color: orangered;
    text-decoration: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (max-width:560px) {
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        
    }
}